body {
    background-color: #2e307b;
}
td{
    vertical-align: middle;
}
div.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000;
}
span.color {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #000;
}